# Server, port, sensor path
kitchenpi.vpn.glasgownet.com, 4304, /28.C8D40D040000
kitchenpi.vpn.glasgownet.com, 4304, /28.DDBF1D030000
kitchenpi.vpn.glasgownet.com, 4304, /28.3C4F1D030000
loftpi.vpn.glasgownet.com, 4304, /28.3C4F1D030000
